<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav align-items-start me-auto"> <!-- Alineación a la izquierda -->
                <li class="nav_item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" aria-current="page" [routerLink]="['']">Inicio</a>
                </li>
                <li class="nav_item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" aria-current="page" [routerLink]="['categories']">Categorías</a>
                </li>
                <li class="nav_item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" aria-current="page" [routerLink]="['items']">Artículos</a>
                </li>
            </div>
            <div class="navbar-nav ms-auto"> <!-- Alineación a la derecha -->
                <li class="nav_item" *ngIf="!isLoggedIn">
                    <a class="nav-link" aria-current="page" (click)="showLoginForm()">Iniciar sesión</a>
                </li>
                <li class="nav_item" *ngIf="isLoggedIn">
                    <div class="nav-item-container">
                        <a class="nav-link nav-link-nick" [routerLink]="['/users', userId]">{{ nick }}</a>
                        <a class="nav-link nav-link-logout" aria-current="page" (click)="logout()">logout</a>
                    </div>
                </li>
            </div>
        </div>
    </div>
</nav>





<div class="login-form " [ngClass]="{ 'show': isLoginFormVisible }">
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
    <label for="nick">Nick:</label>
    <input type="text" id="nick" formControlName="nick" class="form-control" />
    </div>
    <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" formControlName="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>
<p class="m-0">¿No tienes una cuenta? <a [routerLink]="['users/user-register']" (click)="hideLoginForm()">Regístrate</a></p>
<button type="button" class="btn btn-secondary" (click)="hideLoginForm()">Cerrar</button>
</div>
